.container {
    display: flex;
    width: 100%;
    height: 32px;
    margin-top: 16px;
    justify-content: center;
}
.documentPrefixes {
    display: flex;
    padding: 0 8px;
    border-radius: 50px;
    margin-right: 16px;
    height: 32px;
    background-color: var(--color-secondary);
}
.prefixContainer {
    display: flex;
    justify-content: center;
    color: var(--color-white);
    height: 32px;
    line-height: 32px;
}
.prefix {
    font-weight: 500;
    padding: 0 8px;
}
.iconButton {
    cursor: pointer;
    margin-left: 4px;
}
.button {
    border-radius: 4px !important;
    padding: 6px 16px !important;
}
.menuItem {
    min-width: 116px;
}
.generateButton {
    position: absolute;
    right: 16px;
}
