.container {
    position: absolute;
    width: 100%;
    bottom: 80px;
}
.buttonContainer {
    padding: 8px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.button {
    width: 200px !important;
}
.textField {
    width: 100%;
}
.errorText {
    padding-left: 24px;
    font-size: 12px;
    color: #ff0000;
    padding-bottom: 8px;
}
