.container {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 8px 0;
    height: 100%;
    background-image: url("../../../../common/images/backGround.jpg");
    background-size: cover;
    z-index: 10;
}
.container[data-opened="true"] {
    width: 33%;
    transition: width 1s;
}
.container[data-opened="false"] {
    width: 48px;
    transition: width 1s;
}
.button {
    margin-left: 6px !important;
    padding: 16px !important;
    width: 32px;
    min-width: 32px !important;
}
.contentContainer {
    z-index: 100;
}
.contentContainer[data-open="false"] {
    opacity: 0;
    transition: opacity 0.5s;
}
.contentContainer[data-open="true"] {
    opacity: 1;
    transition: opacity 0.5s;
}
.commentsCreationContainer {
    padding-top: 8px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.commentsContainer {
    display: block;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.commentContainer {
    background-color: var(--color-light-green);
    width: 400px;
    border-radius: 8px;
    padding: 8px;
    margin: 8px auto;
}
.commentHelperTextContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.commentHelperText {
    color: var(--color-dark-grey);
    font-size: 12px;
}
.commentTextField {
    width: 300px;
}
