.button {
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
    border-radius: 50px !important;
    height: 32px !important;
    padding: 6px 32px !important;
    text-transform: none !important;
}
.button[data-color="primary"] {
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
}
.button[data-color="secondary"] {
    background-color: var(--color-secondary) !important;
    color: var(--color-white) !important;
}
.button[data-color="light-secondary"] {
    background-color: var(--color-light-green) !important;
    color: var(--color-black) !important;
}
.button[data-color="transparent"] {
    background-color: transparent !important;
    color: var(--color-white) !important;
}
.button[data-size="md"] {
    height: 32px !important;
}
.button[data-size="lg"] {
    height: 40px !important;
}
.button[data-size="xl"] {
    height: 48px !important;
}
.button:disabled {
    background-color: var(--color-disabled-background) !important;
    color: var(--color-disabled-text) !important;
}
.icon[data-size="xl"] {
    font-size: 16px !important;
}
.icon[data-size="lg"] {
    font-size: 16px !important;
}
.icon[data-size="md"] {
    font-size: 13px !important;
}
.button:disabled {
    background-color: var(--color-disabled-background) !important;
    color: var(--color-disabled-text) !important;
}
