.container {
    position: absolute;
    height: 100%;
    overflow: hidden;
}
.container--left {
    left: 0px;
}
.container--right {
    right: 0px;
}
.container[data-fullwidth="false"] {
    transition: width 2s;
    width: 0%;
}
.container[data-fullwidth="true"] {
    transition: width 2s;
    width: 65%;
}
.primaryText {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    min-width: 450px;
    font-size: 42px;
    font-weight: bold;
}
.secondaryText {
    width: 100%;
    text-align: center;
    min-width: 450px;
    margin-top: 8px;
    color: var(--color-disabled-text);
}
.subContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 32px;
    justify-content: center;
}
.textField {
    width: 80%;
    min-width: 260px !important;
}
.errorText {
    padding-left: 52px;
    font-size: 12px;
    color: #ff0000;
    width: 80%;
    padding-bottom: 8px;
}
.button {
    padding: 6px 60px !important;
    min-width: 180px !important;
}
