.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    background-color: var(--color-white);
}
.subContainer {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 16px;
    height: 100%;
    width: calc(100% - 80px);
    height: calc(100% - 32px);
}
.userButton {
    width: 40px;
    float: right;
    min-width: 40px !important;
    padding: 0px !important;
    text-transform: uppercase !important;
}
