.tableContainer {
    max-height: calc(100% - 80px);
    width: 100%;
    overflow: auto;
}
.tableContainer__triplets {
    margin-top: 40px;
    max-height: calc(100% - 32px);
    width: 100%;
    overflow: auto;
}
.generationButton {
    margin-bottom: 8px !important;
    padding: 6px 16px !important;
}
.tableCell {
    background-color: var(--color-light-green);
}
.idButton {
    min-width: 32px !important;
    width: 32px;
    padding: 0 !important;
}
.tableCell--icon {
    width: 40px;
}
.tableCell--last {
    border-bottom: none !important;
}
.prefix {
    display: inline-block;
    padding: 0 4px;
    color: var(--color-dark-grey);
}
.name {
    display: inline-block;
    padding: 0 8px;
    color: var(--color-secondary);
}
