.tableContainer {
    max-height: calc(100% - 120px);
    width: 100%;
    overflow: auto;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.tableContainer__triplets {
    margin-top: 40px;
    max-height: calc(100% - 120px);
    width: 100%;
    overflow: auto;
}
.generationButton {
    margin-bottom: 8px !important;
    padding: 6px 16px !important;
}
.tableCell {
    background-color: var(--color-light-green);
}
.idButton {
    min-width: 32px !important;
    width: 32px;
    padding: 0 !important;
}
.tableCell--icon {
    width: 64px;
}
.tableCell--last {
    border-bottom: none !important;
}
.prefix {
    display: inline-block;
    padding: 0 4px;
    color: var(--color-dark-grey);
}
.name {
    display: inline-block;
    padding: 0 8px;
    color: var(--color-secondary);
}
.input {
    margin: 8px 0;
    width: 100%;
    display: flex;
}
.input__button {
    padding: 0px !important;
    width: 64px !important;
    min-width: 0px !important;
    border-radius: 50px 0 0 50px !important;
}
.input__button--inner {
    border-radius: 0px !important;
}
.input__textfield * {
    border-radius: 0px !important;
    border-width: 0 1px 0 0 !important;
    border-color: var(--color-grey) !important;
}
.input__textfield--last * {
    border-width: 0 !important;
    border-radius: 0 50px 50px 0px !important;
}
