:root {
    --color-secondary: #5fb8b2;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #ff0000;
    --color-light-green: #effffa;
    --color-disabled-text: #7f8684;
    --color-disabled-background: #c5ccca;
    --color-dark-red: #d12626;
    --color-grey: #dadada;
    --color-dark-grey: #a6b4b3;
    --color-empty-background: #c5fbfb;
    --color-empty-text: #277e9b;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
